body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 220, 236);
}

.gallery {
    column-count: auto;
    column-width: 400px;
    column-gap: 15px;
    padding: 30px;
}

.gallery img {
    width: 100%;
    break-inside: avoid;
    margin-bottom: 15px;
    border-radius: 12px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.column img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}