* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  background: url('../trackimages/neuroBackground.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  overflow: hidden;
}

.scroll-box {
  width: clamp(320px, 60vw, 480px);
  max-height: 50vh;
  overflow-y: scroll;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5), 0 6px 20px 0 rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 3vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}

.scroll-box::-webkit-scrollbar {
  display: none;
}

.scroll-box p {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: hsla(0, 10%, 13%, 0.5);
  backdrop-filter: blur(5px);
  padding: 10px;
  margin: 5px 0;
  transition: 0.3s;
  border-radius: 5px;
  font-size: clamp(20px, 5vw, 26px);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
  display: block;
  min-height: 50px;
}

.scroll-box p:hover {
  background-color: #8adcff94;
}

@media (max-width: 768px) {
  .scroll-box {
      width: 90%;
      max-width: none;
      max-height: 60vh;
      overflow-y: auto;
      padding: 10px;
      gap: 8px;
  }
}

.playlist-container #userInput {
font-size: clamp(18px, 4vw, 20px);
padding: clamp(10px, 2vw, 15px);
width: 60%;
max-width: 300px;
height: auto;
position: absolute;
top: 90px;
left: 50%;
transform: translate(-50%, -50%);
background-color: transparent;
border: 2px solid rgba(108, 99, 255, 0.8);
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
color: #fff;
transition: all 0.3s ease-in-out;
}

.playlist-container #userInput:focus {
border-color: rgba(79, 77, 184, 1);
box-shadow: 0 0 10px rgba(108, 99, 255, 0.5);
outline: none;
}

.playlist-container #userInput::placeholder {
color: rgba(255, 255, 255, 0.6);
}